<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
</head>
<body>
<h1>Ingredients</h1>
<div th:each="ingredient : ${ingredients}">
    <p th:text="${ingredient.title}"></p>
</div>
</body>
</html>