<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzas</title>
</head>
<body>
<h1>Pizzas</h1>
<ul>
    <li th:each="pizza : ${pizzas}">
        <h2>
            <a th:href="@{/pizzas/{id} (id=${pizza.id})}"
               th:text="${pizza.title}"
            ></a>
        </h2>
        <p th:text="${pizza.description}"></p>
        <ul>
            <li
                    th:each="ingredient : ${pizza.getIngredients()}"
                    th:text="${ingredient.title}"
            ></li>
        </ul>
    </li>
</ul>
<a th:href="@{pizzas/new}">Create your own</a>
</body>
</html>