<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pizza.title}"></title>
</head>
<body>
<h1 th:text="${pizza.title}"></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, non.</p>
</body>
</html>