<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create pizza</title>
    <style>
        input[type='checkbox'] {
            display: block;
        }
    </style>
</head>
<body>
<header></header>
<h1>New pizza</h1>
<form
        th:action="@{new}"
        method="post"
        th:object="${pizza}"
>
    <input type="hidden" th:field="*{description}">
    <label>Pizza name:
        <input
                type="text"
                th:field="*{title}"
        >
    </label>
    <p
            th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}">
    </p>
    <fieldset>
        <h3>Ingredients</h3>
        <input
                type="checkbox"
                th:each="ingredient : ${ingredients}"
                th:text="${ingredient.title}"
                th:value="${ingredient.id}"
                th:field="${pizza.ingredients}"
        >
        <p
                th:if="${#fields.hasErrors('ingredients')}"
                th:errors="*{ingredients}">
        </p>
    </fieldset>
    <button type="submit">Save</button>
</form>
</body>
</html>